BASE_URL=https://www.saucedemo.com

STANDARD_USER=your_standard_user_here
STANDARD_PASSWORD=your_secret_sauce_here

ADMIN_USER=your_admin_user_here
ADMIN_PASSWORD=your_secret_sauce_here

LOCKED_OUT_USER=your_locked_out_user_here
LOCKED_OUT_PASSWORD=your_secret_sauce_here

PROBLEM_USER=your_problem_user_here
PROBLEM_PASSWORD=your_secret_sauce_here

PERFORMANCE_GLITCH_USER=your_performance_glitch_user_here
PERFORMANCE_GLITCH_PASSWORD=your_secret_sauce_here

ERROR_USER=your_error_user_here
ERROR_PASSWORD=your_secret_sauce_here

VISUAL_USER=your_visual_user_here
VISUAL_PASSWORD=your_secret_sauce_here
